* * * * * cd /var/www && /usr/local/bin/php artisan schedule:run > /dev/stdout 2>&1
0 */3 * * * /var/www/docker/scripts/backup.sh >> /var/www/backup/cron.log 2>&1
0 10 * * * /venv/bin/python /var/www/python_script/polygon_matcher.py
# 44 9 * * * /venv/bin/python /var/www/python_script/test_cron.py >> /var/www/backup/cron.log 2>&1
